<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyRandom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4ED6E6251E2BAF1C00929029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ED6E6391E2BAF1C00929029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ED6E6441E2BAF1C00929029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
